<div>
  <h2 id="page-heading" data-cy="DashboardItemHeading">
    <span jhiTranslate="dashboardTestApp.dashboardItem.home.title">Dashboard Items</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="dashboardTestApp.dashboardItem.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-dashboard-item"
        [routerLink]="['/dashboard-item/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="dashboardTestApp.dashboardItem.home.createLabel"> Create a new Dashboard Item </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="dashboardItems?.length === 0">
    <span jhiTranslate="dashboardTestApp.dashboardItem.home.notFound">No dashboardItems found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="dashboardItems && dashboardItems.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="dashboardTestApp.dashboardItem.id">Id</span></th>
          <th scope="col"><span jhiTranslate="dashboardTestApp.dashboardItem.cols">Cols</span></th>
          <th scope="col"><span jhiTranslate="dashboardTestApp.dashboardItem.rows">Rows</span></th>
          <th scope="col"><span jhiTranslate="dashboardTestApp.dashboardItem.x">X</span></th>
          <th scope="col"><span jhiTranslate="dashboardTestApp.dashboardItem.y">Y</span></th>
          <th scope="col"><span jhiTranslate="dashboardTestApp.dashboardItem.content">Content</span></th>
          <th scope="col"><span jhiTranslate="dashboardTestApp.dashboardItem.dashboard">Dashboard</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dashboardItem of dashboardItems; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/dashboard-item', dashboardItem.id, 'view']">{{ dashboardItem.id }}</a>
          </td>
          <td>{{ dashboardItem.cols }}</td>
          <td>{{ dashboardItem.rows }}</td>
          <td>{{ dashboardItem.x }}</td>
          <td>{{ dashboardItem.y }}</td>
          <td>{{ dashboardItem.content }}</td>
          <td>
            <div *ngIf="dashboardItem.dashboard">
              <a [routerLink]="['/dashboard', dashboardItem.dashboard?.id, 'view']">{{ dashboardItem.dashboard?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/dashboard-item', dashboardItem.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/dashboard-item', dashboardItem.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(dashboardItem)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
