<div>
  <h2 id="page-heading" data-cy="DashboardHeading">
    <span jhiTranslate="dashboardTestApp.dashboard.home.title">Dashboards</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="dashboardTestApp.dashboard.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-dashboard"
        [routerLink]="['/dashboard/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="dashboardTestApp.dashboard.home.createLabel"> Create a new Dashboard </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="dashboards?.length === 0">
    <span jhiTranslate="dashboardTestApp.dashboard.home.notFound">No dashboards found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="dashboards && dashboards.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="dashboardTestApp.dashboard.id">Id</span></th>
          <th scope="col"><span jhiTranslate="dashboardTestApp.dashboard.dashboardLayout">Dashboard Layout</span></th>
          <th scope="col"><span jhiTranslate="dashboardTestApp.dashboard.userProfile">User Profile</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dashboard of dashboards; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/dashboard', dashboard.id, 'view']">{{ dashboard.id }}</a>
          </td>
          <td>
            <div *ngIf="dashboard.dashboardLayout">
              <a [routerLink]="['/dashboard-layout', dashboard.dashboardLayout?.id, 'view']">{{ dashboard.dashboardLayout?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="dashboard.userProfile">
              <a [routerLink]="['/user-profile', dashboard.userProfile?.id, 'view']">{{ dashboard.userProfile?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/dashboard', dashboard.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/dashboard', dashboard.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(dashboard)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
